# Terraform
*.tfstate
*.tfstate.backup
.terraform.*
.terraform/
local.tfvars
local.auto.tfvars
terraform.tfvars

# Editor-related
*.xpr
*.swp
.*.swp
*.sublime-workspace

# OS specifics
.DS_Store
._.*

# Developer specifics
.env.csh
.env.sh
